Repository ronny1020/react-json-formatter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --no-ignore, bash -c tsc, prettier --write .

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix --max-warnings=0 --no-ignore", "bash -c tsc"],
  "*.{json,md,css,yml}": ["prettier --write ."]
}

refactor(formatter): adjust coding style
  src/index.tsx
Due: eslint --fix --max-warnings=0 --no-ignore, bash -c tsc

feat(storybook): add storybook file
  package.json
  pnpm-lock.yaml
  src/JsonFormatter.stories.tsx
Due: eslint --fix --max-warnings=0 --no-ignore, bash -c tsc, prettier --write .

test: init vitest
  package.json
  pnpm-lock.yaml
  src/JsonFormatter.test.tsx
  src/__snapshots__/JsonFormatter.test.tsx.snap
  tests/setup.ts
  tsconfig.json
  vitest.config.ts
Due: eslint --fix --max-warnings=0 --no-ignore, bash -c tsc, prettier --write .

build: add storybook-static to git ignore
  .gitignore
Due: none

ci(action): setup basic github actions
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/vitest.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write .

docs(readme): fix tabWith default number
  .github/workflows/demo.yml
  README.md
Due: prettier --write .

fix(tsconfig): add "storybook-static" to exclude
  tsconfig.json
Due: prettier --write .

chore(vscode): add typescript.tsdk
  .vscode/settings.json
Due: prettier --write .

docs(tsdoc): add tsdoc description
  src/index.tsx
Due: eslint --fix --max-warnings=0 --no-ignore, bash -c tsc

ci(action): add pnpm version
  .github/workflows/demo.yml
  .github/workflows/lint.yml
  .github/workflows/vitest.yml
Due: prettier --write .

ci(action): use pnpm version 7
  .github/workflows/demo.yml
  .github/workflows/lint.yml
  .github/workflows/vitest.yml
Due: prettier --write .

test(vitest): setup coverage
  .gitignore
  vitest.config.ts
Due: eslint --fix --max-warnings=0 --no-ignore, bash -c tsc

ci(husky): add test
  .husky/pre-commit
  package.json
Due: prettier --write .

chore(husky): add new line to pre-commit file
  .husky/pre-commit
Due: none

Deploying to gh-pages from @ ronny1020/react-json-formatter@e4bbab9b69a4a115b5cc1f420b5d294d6e26ddcd 🚀
  project.json
Due: prettier --write .

build(githubpage): add vite base of storybook
  .eslintrc
  .prettierrc
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: eslint --fix --max-warnings=0 --no-ignore, bash -c tsc, prettier --write .

Deploying to gh-pages from @ ronny1020/react-json-formatter@e31938b2be3156c8aadf445a5e8397b2c3f1f659 🚀
  assets/Color-3YIJY6X7-03e2715d.js
  assets/Color-3YIJY6X7-03e2715d.js.map
  assets/Color-3YIJY6X7-cbc0f28e.js
  assets/Color-3YIJY6X7-cbc0f28e.js.map
  assets/DocsRenderer-EYKKDMVH-15be90ef.js
  assets/DocsRenderer-EYKKDMVH-15be90ef.js.map
  assets/DocsRenderer-EYKKDMVH-77f75f50.js.map
  assets/GlobalScrollAreaStyles-XIHNDKUY-228c62eb.js
  assets/GlobalScrollAreaStyles-XIHNDKUY-228c62eb.js.map
  assets/GlobalScrollAreaStyles-XIHNDKUY-9bb89587.js
  assets/GlobalScrollAreaStyles-XIHNDKUY-9bb89587.js.map
  assets/OverlayScrollbars-VAV6LJAB-63548c6c.js
  assets/OverlayScrollbars-VAV6LJAB-63548c6c.js.map
  assets/OverlayScrollbars-VAV6LJAB-f1ac750b.js.map
  assets/WithTooltip-FBT32F6Q-0f22b6be.js
  assets/WithTooltip-FBT32F6Q-0f22b6be.js.map
  assets/WithTooltip-FBT32F6Q-336e831a.js
  assets/WithTooltip-FBT32F6Q-336e831a.js.map
  assets/formatter-S4K5WUZV-0fd6828e.js
  assets/formatter-S4K5WUZV-0fd6828e.js.map
  assets/formatter-S4K5WUZV-cbeb16a4.js.map
  assets/iframe-b2b587d9.js
  assets/iframe-b2b587d9.js.map
  assets/iframe-d84be734.js
  assets/iframe-d84be734.js.map
  assets/preview-1fdf6b20.js
  assets/preview-1fdf6b20.js.map
  assets/preview-fb3a4526.js
  assets/preview-fb3a4526.js.map
  assets/syntaxhighlighter-QTQ2UBB4-71ecd249.js
  assets/syntaxhighlighter-QTQ2UBB4-71ecd249.js.map
  assets/syntaxhighlighter-QTQ2UBB4-9d445652.js
  assets/syntaxhighlighter-QTQ2UBB4-9d445652.js.map
  iframe.html
  project.json
Due: eslint --fix --max-warnings=0 --no-ignore, bash -c tsc, prettier --write .

revert(storybook): base of vite config
  .storybook/main.ts
Due: eslint --fix --max-warnings=0 --no-ignore, bash -c tsc

Deploying to gh-pages from @ ronny1020/react-json-formatter@a3dc07335fa36cde184df50760c9eebb99c0a321 🚀
  assets/Color-3YIJY6X7-03e2715d.js
  assets/Color-3YIJY6X7-03e2715d.js.map
  assets/Color-3YIJY6X7-cbc0f28e.js
  assets/Color-3YIJY6X7-cbc0f28e.js.map
  assets/DocsRenderer-EYKKDMVH-15be90ef.js.map
  assets/DocsRenderer-EYKKDMVH-77f75f50.js
  assets/DocsRenderer-EYKKDMVH-77f75f50.js.map
  assets/GlobalScrollAreaStyles-XIHNDKUY-228c62eb.js
  assets/GlobalScrollAreaStyles-XIHNDKUY-228c62eb.js.map
  assets/GlobalScrollAreaStyles-XIHNDKUY-9bb89587.js
  assets/GlobalScrollAreaStyles-XIHNDKUY-9bb89587.js.map
  assets/OverlayScrollbars-VAV6LJAB-63548c6c.js.map
  assets/OverlayScrollbars-VAV6LJAB-f1ac750b.js
  assets/OverlayScrollbars-VAV6LJAB-f1ac750b.js.map
  assets/WithTooltip-FBT32F6Q-0f22b6be.js
  assets/WithTooltip-FBT32F6Q-0f22b6be.js.map
  assets/WithTooltip-FBT32F6Q-336e831a.js
  assets/WithTooltip-FBT32F6Q-336e831a.js.map
  assets/formatter-S4K5WUZV-0fd6828e.js.map
  assets/formatter-S4K5WUZV-cbeb16a4.js
  assets/formatter-S4K5WUZV-cbeb16a4.js.map
  assets/iframe-b2b587d9.js
  assets/iframe-b2b587d9.js.map
  assets/iframe-d84be734.js
  assets/iframe-d84be734.js.map
  assets/preview-1fdf6b20.js
  assets/preview-1fdf6b20.js.map
  assets/preview-fb3a4526.js
  assets/preview-fb3a4526.js.map
  assets/syntaxhighlighter-QTQ2UBB4-71ecd249.js
  assets/syntaxhighlighter-QTQ2UBB4-71ecd249.js.map
  assets/syntaxhighlighter-QTQ2UBB4-9d445652.js
  assets/syntaxhighlighter-QTQ2UBB4-9d445652.js.map
  iframe.html
  project.json
Due: eslint --fix --max-warnings=0 --no-ignore, bash -c tsc, prettier --write .

build(chromatic): init chromatic to replace github page
  .github/workflows/chromatic.yml
  .github/workflows/demo.yml
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write .

ci(chromatic): fix action with fetch-depth
  .github/workflows/chromatic.yml
Due: prettier --write .

feat(formatter): param json could use object
  README.md
  src/JsonFormatter.test.tsx
  src/__snapshots__/JsonFormatter.test.tsx.snap
  src/index.tsx
Due: eslint --fix --max-warnings=0 --no-ignore, bash -c tsc, prettier --write .

build(vite): add exclude test & storybook file
  vite.config.ts
Due: eslint --fix --max-warnings=0 --no-ignore, bash -c tsc

ci(action): add test building package action
  .github/workflows/build.yml
Due: prettier --write .

v0.4.0
  package.json
Due: prettier --write .

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --write .

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write .

chore(pnpm): update pnpm lock version
  pnpm-lock.yaml
Due: none

ci(pnpm): use version 9
  .github/workflows/build.yml
Due: prettier --write .

ci(node): use version 20
  .github/workflows/build.yml
Due: prettier --write .

chore(storybook): update to version 8
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0 --no-ignore, bash -c tsc, prettier --write .

ci(github): sync the node & pnpm version
  .github/workflows/lint.yml
  .github/workflows/vitest.yml
Due: prettier --write .

ci(eslint): adjust ignore-path
  .github/workflows/lint.yml
Due: prettier --write .

ci(eslint): use v3
  .github/workflows/lint.yml
Due: prettier --write .

ci(eslint): use my own lint script
  .github/workflows/lint.yml
Due: prettier --write .

build(chromatic): update to last
  .github/workflows/chromatic.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write .

ci(chromatic): add buildScriptName
  .github/workflows/chromatic.yml
Due: prettier --write .

ci(chromatic): update pnpm and node version
  .github/workflows/chromatic.yml
Due: prettier --write .
